<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  {% include header.html %}

  <body>
    <main style="display: table; width:100%; margin-left: auto; margin-right: auto;">
    {% for post in site.posts %}
      <article class="{% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
            <div class="article-head">
                <h2 class="title"><a href="/{{ post.url }}/" class="js-pjax">{{ post.title }}</a></h2>
                <p class="date">{{ post.date | date: "%b %d, %Y" }}</p>
            </div><!--/.article-head-->
            <div class="article-content">
            {{ post.long_description }}
            <a href="/{{ post.url }}/" class="full-post-link js-pjax">Read more</a> 
            </div><!--/.article-content-->
        </article>
        {% if forloop.last %}{% else %}<div class="separater"></div>{% endif %}
    {% endfor %}    
    </main>
  </body>

  {% include footer.html %}
</html>

